body {
	margin: 0;
}

#app {
	margin: 50px auto;
	width: 400px;
	min-height: 600px;
	box-shadow: 0 0 2px 1px #222;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.tinted-image {
	background: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
	url("wood.jpg");
	background-size: cover;
}


@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}


#date {
	text-align: left;
	color: #fff;
	padding-left: 10px;
	padding-top: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

#mainheader {
	height: 200px;
	background: red;
	text-align:  center;
	color: #fff;
}

.task {
	
}


#addbutton {
	float: right;
}

#AddTask {
	background-color: transparent;
	float: right;
	height: 45px;
	width: 45px;
	border: none;
	border-radius: 100%;
	padding: 25px 20px 0px 0px;
	outline: none;
}

#AddTask i {
	color: #fff;
	font-size: 36px;
	padding: 25px auto;
}


.todo {
	font-size: 15px;
	margin-top: 35px;
}

#add{
	opacity: 0;
	padding: 15px 0;
	width: 380px;
	background: transparent;
	margin-left: 10px;
	font-size: 24px;
	outline: 0;
	color: #fff;
	 border: 0px solid #fff;
    border-bottom-width: 1px;
    background-color: transparent;
}



input:placeholder-shown {
	font-style: italic;
	text-decoration: underline;
	padding-left: 3px;
}

::-webkit-input-placeholder {
 	color: #fff;
 	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

input:focus::-webkit-input-placeholder { 
	color: transparent; 
}


input[value] {
 font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

input[type= "checkbox"] {

}

.check {
	margin-left: 20px;
	width: 25px;
	height: 25px;
	background-color: transparent;
	border: 3px solid #fff;
	border-radius: 90%;
	outline: none;
	float: left;
}

.delete {
	font-size: 24px;
	color: #fff;
	margin-left: 85px;
	display: block;
}


#tasks {
	padding-top: 25px;
}


.todo {
	width: 400px;
	margin-bottom: 0;
	display: block;
}

.todo p {
	font-size: 24px;
	color: #fff;
	padding-left: 130px;
}





